*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

body {
	height: auto;
	width: 100%;
}
.title {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	height: 806px;
	width: auto;
	background-color: #eff0f2;
}
.title-shopno {
	padding: 80px 0px 0px 164px;
	
}
.shopno__borde {
	padding: 4px 0px 0px 0px;
	text-align:center;
	width: 113px;
	height: 46px;
	border: 5.6px solid #170f1c;
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 17px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	text-shadow: 0px 0px 2px rgba(21,21,22,0.75);
	color: #000000;
}

.title_font {
	text-align: center;
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 45px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	color: #505050;
	line-height: 50px;
}

.bg-text_color {
	background-color: #b2f2ee;
}
.title-button {
	text-align: center;
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	margin-left: auto;
    margin-right: auto;
    width: 232px;
	height: 53px;
	border: 2px solid #000000;
	border-radius: 2px;
	padding: 10px 0px 0px 0px;
}
.about-us {
	min-height: 985px;
	height: auto;
	width: auto;
	background-color: #f8fafa;

}
.about__us__title {
	text-align: center;
	padding: 129px 0px 147px 0px;
}
.about__us__style__text{
	font-family: Merriweather;
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	color: #000000;
}
.about-us-box {
	display: flex;
	justify-content:center;
	flex-wrap:wrap;
	min-height: 483px;
	height: auto;

}

.about-us-text {
	margin: 0px 78px 0px 78px;
	max-width: 474px;
	min-height: 483px;
	height: auto;
	opacity: 0.74;
	font-family: Raleway;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: #000000;
}
.about-us-text__style {
	font-family: Merriweather;
	font-size: 20px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	color: #000000;
}
.featured-works {
	min-height: : 1166px;
	height: auto;
	width: auto;
	background-color: #ffffff;
}
.works-title {
	text-align: center;
	padding: 129px 0px 122px 0px;
}
.works-img-box {
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
	padding: 0px 150px 125px 150px;
	margin: -8px -8px -8px -8px;
}
.works__img_margin {
	margin: 8px 8px 8px 8px;
}
.small-team {
min-height: : 1360px;
height: auto;
width: auto;
background-color: #f9fbfb;
}
.small-team-title{
	padding: 99px 0px 123px 0px;
	text-align: center;
}
.small-team-img {
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
	width: auto;
	min-height: : 900px;
	height: auto;
	padding: 0px 150px 0px 150px;
	margin: -8px -8px -8px -8px;
}
.small__team__img_margin {
	margin: 8px 8px 8px 8px;
}
.footer {
	height: 1021px;
	width: auto;
}
.end {
	height: 315px;
	width: 100%;
	background-color: #262b2e;
	text-align: center;
}
.icon {
	height: auto;
	width: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
	margin: 0px -4px 0px -4px;
}
.icon__pinterest {
	height: 45px;
	width: 45px;
	background-color: #383c3f;
	font-size: 25px;
	margin: 0px 4px 0px 4px;
	color: #969596;
	padding: 10px 0px 0px 0px;
}
.icon__twitter {
	height: 45px;
	width: 45px;
	background-color: #383c3f;
	font-size: 25px;rgb(19, 23, 26)
	margin: 0px 4px 0px 4px;
	color: #969596;
	padding: 10px 0px 0px 0px;

}
.icon__facebook {
	height: 45px;
	width: 45px;
	background-color: #383c3f;
	font-size: 25px;
	margin: 0px 4px 0px 4px;
	color: #969596;
	padding: 10px 0px 0px 0px;

}
.icon__dribbble {
	height: 45px;
	width: 45px;
	background-color: #383c3f;
	font-size: 25px;
	margin: 0px 4px 0px 0px;
	color: #969596;
	padding: 10px 0px 0px 0px;
}
.follow__us {
	padding: 93px 0px 12px 0px;
	font-family: Raleway;
	font-size: 19px;
	line-height: 25px;
	font-weight: 400;
	letter-spacing: 0.01em;
	color: #ffffff;
}
.contact {
	min-height: 704px;
	height: auto;
	width: auto;
	background-color: ##fafbfc;
	background-image: url(img/snow.png);
	background-size: 100%;
	padding: 121px 0px 0px 0px;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	margin: 0px -20px 0px -20px;
}
.send-message {
	margin:  0px 20px 0px 20px;
	max-width: 614px;
	min-width: 370px;
	width: 100%;
	height: 460px;
	opacity: 0.7;
	background-color: #021623;
}
.send-message_form {
	margin: 30px;
}
.send__message_form_text {
	opacity: 0.6;
	font-family: Raleway;
	font-size: 15px;
	line-height: 35px;
	font-weight: 400;
	color: #ffffff;
}
.adrees {
	max-width: 500px;
	min-width: 370px;
	width: 91%;
	height: 461px;
	opacity: 0.7;
	background-color: #021623;
	display: flex;
	flex-direction:column;
	justify-content:space-between;


}
.send-message_ul {
	padding: 35px;
	opacity: 0.6;
	font-family: Raleway;
	font-size: 15px;
	line-height: 51px;
	font-weight: 400;
	color: #ffffff;
	line-height: 60px;
}
.button__send__message {
	padding: 2% 4% 2% 4%;
	background-color: #6eeee4;
	font-family: Montserrat;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	color: #000000;
	border: 40px;
}
.google__map {
	align-self:flex-end;
	max-width: 455px
	width: auto;
	padding: 20px 20px 20px 20px;
}
.adrees__text {
	padding: 20px 0px 0px 20px;
	width: auto;
	opacity: 0.7;
	font-family: Raleway;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	}
.form_size {
	height: 25px;
	width: 550px;
	background-color: #66747d;
}
.message__form_size {
	height: 120px;
	width: 550px;
	background-color: #66747d;
}
.send__message_button {
	margin: 10px 10px;
	width: 244px;
	height: 53px;
	background-color: #6eeee4;
}
.send__message_button_style {
	opacity: 0.7;
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	color: #000000;
}